
@{
    //ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}
    <button class="home_button" onclick="location.href = '/EGHRGE'">EGHRGE - Прогноз</button><br/>
    <button class="home_button" onclick="location.href = '/EGHCEQ'">EGHCEQ - Оценка прогнозируемого состояния</button><br />
    <button class="home_button" onclick="location.href = '/EGHGEA'">EGHGEA - Классификация прогнозируемого состояния</button><br />
    <button class="home_button" onclick="location.href = '/EGHORT'">EGHORT - Выбор технологий реабилитации</button><br />
    <button class="home_button" onclick="location.href = '/EGHCCO'">EGHCCO - Химический состав нефтей</button><br />
    <button class="home_button" onclick="location.href = '/EGHCAI'">EGHCAI - Техногенные объекты</button>
