@using EGH01DB.Types;
@using EGH01.Core;
@model List<CadastreType>
@{
    Menu menu = new Menu(
                            new Menu.MenuItem("Удалить", "CadastreType.Delete", true),
                            new Menu.MenuItem("Изменить", "CadastreType.Update", true)
                           );

}

<script>
    var dataSet = [];

</script>


@foreach (CadastreType t in @Model)
{

    using (Html.BeginForm("CadastreType", "EGHRGE"))
    {
            <script>
 dataSet.push( [
 `@t.type_code.ToString()`,
 `@t.name.ToString()`,
 `<button onclick='location="CadastreType?menuitem=CadastreType.Delete&type_code=@t.type_code.ToString()"' name='menuitem' value="CadastreType.Delete">Удалить </button><button onclick='location="CadastreTypeType?menuitem=CadastreType.Update&type_code=@t.type_code.ToString()"' name='menuitem' value="CadastreType.Update">Изменить </button>&nbsp`

 ]);
            </script>
        }
    }

    <script>
$(document).ready(function() {
    $('#main').DataTable({
        "language":
datatables_lang,

        data: dataSet,
        columns: [
		//тут должны быть названия наших колонок для шапки
            { title: "Индетификатор" },
            { title: "Наименование типа техногенного объекта" },
            { title: "Действие" }

        ]
    } );
} );
    </script>

    <table style="width:100%" class="main" id="main"></table>










       