@using EGH01DB.Types;
@using EGH01.Core;

@model List<EcoObjectType>
@{
    Menu menu = new Menu(
                            new Menu.MenuItem("Удалить", "EcoObjectType.Delete", true),
                            new Menu.MenuItem("Изменить", "EcoObjectType.Update", true)
                           );

}
<script>
    var dataSet = [];

</script>


@foreach (EcoObjectType t in @Model)
{

    using (Html.BeginForm("EcoObjectType", "EGHRGE"))
    {

        <script>
 dataSet.push( [
 `@t.type_code.ToString()`,
 `@t.name.ToString()`,
 `@t.waterprotectionarea.name.ToString()`,
 `<button onclick='location="EcoObjectType?menuitem=EcoObjectType.Delete&type_code=@t.type_code.ToString()"' name='menuitem' value="EcoObjectType.Delete">Удалить </button><button onclick='location="EcoObjectType?menuitem=EcoObjectType.Update&type_code=@t.type_code.ToString()"' name='menuitem' value="EcoObjectType.Update">Изменить </button>&nbsp`

 ]);
        </script>
    }
}

<script>
$(document).ready(function() {
    $('#main').DataTable({
        "language":
datatables_lang,

        data: dataSet,
        columns: [
		//тут должны быть названия наших колонок для шапки
            { title: "Код типа природоохранного объекта" },
            { title: "Наименование типа природоохранного объекта" },
            { title: "Категория водоохранной территории" },
            { title: "Действие" }

      ]
    } );
} );
</script>


<table style="width:100%" class="main" id="main"></table>








