@using System.Web.Script.Serialization;
@using EGH01.Core;
@using EGH01.Models.EGH;
@using EGH01DB.Primitives;
@using EGH01DB.Types;
@using EGH01DB.Blurs;
@using EGH01DB.Objects;
@using EGH01.Models.EGHRGE;
@model  EGH01.Models.EGHRGE.ForecastViewConext

@{
     
    EGH01.Models.EGHRGE.ForecastViewConext context = @Model;
    
       
    
    
    
}

<div class="boxdata">

    <h4>1. Поверхносный слой</h4>
    
    <fieldset form="ChoiseRiskObject">
        <legend> Справочные данные </legend>
        <p>
            <label class="boxdata-label-40 ">Коэффициент растекания (м<sup>-1</sup>) </label>
            22
        </p>
        <p>
           <label class="boxdata-label-40 ">Удельная величина выбросов нефтепродукта (кг/м<sup>2</sup>) </label>
            25
        </p>
    </fieldset>
    <fieldset form="ChoiseRiskObject">
        <legend> Вычисления </legend>
        <p>
            <label class="boxdata-label-40 ">Масса нефтепродукта на поверностном  слое (кг) </label>
            2000
        </p>
        <p>
            <label class="boxdata-label-40 ">Площадь наземного пятна загрязнения (м<sup>2</sup>) </label>
            400
        </p>
        <p>
            <label class="boxdata-label-40 ">Толщина наземного пятна загрязнения (м) </label>
            400
        </p>
        <p>
            <label class="boxdata-label-40 ">Масса испарившегося нефтепродукта (кг) </label>
            22
        </p>
    </fieldset>
    <fieldset form="ChoiseRiskObject">
        <legend>Форма  назменого пятна загрязнения</legend>

        <canvas id="topblure" width="400" height="400" style="border-style:solid;border-width:1px; background-color:white;">

        </canvas>
        <script type="text/javascript">
            var JSONCanv = '@Model.JSONCanv';
            var DarkOliveGray = '#556B2F';
            var DarkStateGray = '#2F4F4F';
            var Red =  '#FF0000';
            var Grid = '#6495ED';
            var White = '#FFFFFF';

            
            console.log(JSONCanv);

            var canvas = document.getElementById('topblure');
            var canvasW = canvas.width;
            var canvasH = canvas.height;
            var context = canvas.getContext('2d');
            //console.log('WH', canvasW, canvasH);
            var cx = canvasW / 2;
            var cy = canvasH / 2;
            var R = Math.min(cx, cy) - 50;

            context.beginPath();
            context.strokeStyle = Grid;
            for (var x = 10; x < canvasW; x += 10)
            {
                context.moveTo(x, 0);
                context.lineTo(x, canvasH);
            }
            for (var y = 10; y < canvasH; y += 10) {
                context.moveTo(0, y);
                context.lineTo(canvasW, y);
            }
            context.closePath();
            context.stroke();

            


            context.beginPath();
            context.fillStyle = DarkStateGray;            //'#FF000';
            context.moveTo(70, 250);
            context.lineTo(80, 70);
            context.lineTo(100, 50);
            context.lineTo(200, 80);
            context.lineTo(370, 230);
            context.lineTo(220, 360);
            context.lineTo(70, 250);
            context.closePath();
            context.fill();

            context.beginPath();
            context.strokeStyle = Red;
            context.arc(cx, cy, R, 0, 2 * Math.PI, true);
            context.moveTo(200, 0);
            context.lineTo(200, 400);
            context.moveTo(0, 200);
            context.lineTo(400, 200);
            context.closePath();
            context.stroke();

            context.textBaseline = "middle";
            context.fillStyle = Red;
            context.font = 'bold 30px Arial';             // Courier New';
            context.fillText(' 10м ', cx + R, cy-15, 30);

            context.beginPath();
            context.fillStyle = Red;
            context.arc(cx, cy, 2, 0, 2 * Math.PI, true);
                        
            context.closePath();


            context.fill();

           

        </script>

    </fieldset>


    <fieldset form="ChoiseRiskObject">
        <legend> Природоохранные объекты </legend>


    </fieldset>



</div>
       
