@using EGH01DB.Types;
@using EGH01.Core;
@model List<RiskObjectType>
@{
    Menu menu = new Menu(
                            new Menu.MenuItem("Удалить", "RiskObjectType.Delete", true),
                            new Menu.MenuItem("Изменить", "RiskObjectType.Update", true)
                           );

}

<script>
    var dataSet = [];

</script>


@foreach (RiskObjectType t in @Model)
{

    using (Html.BeginForm("RiskObjectType", "EGHRGE"))
    {
    <script>
 dataSet.push( [
 `@t.type_code.ToString()`,
 `@t.name`,
 `<button onclick='location="RiskObjectType?menuitem=RiskObjectType.Delete&type_code=@t.type_code.ToString()"' name='menuitem' value="RiskObjectType.Delete">Удалить </button><button onclick='location="RiskObjectType?menuitem=RiskObjectType.Update&type_code=@t.type_code.ToString()"' name='menuitem' value="RiskObjectType.Update">Изменить </button>&nbsp`

 ]);
    </script>
    }
}

<script>
$(document).ready(function() {
    $('#main').DataTable({
        "language":
datatables_lang,

        data: dataSet,
        columns: [
		//тут должны быть названия наших колонок для шапки
            { title: "Код типа техногенного объекта" },
            { title: "Категория земли" },
            { title: "Действие" }

        ]
    } );
} );
</script>


<table style="width:100%" class="main" id="main"></table>




